BRAND_NAME=GharSet
WEBSITE_URL=
WHATSAPP_NUMBER=
PRODUCT_CATEGORY=home gadget
TARGET_AUDIENCE=Indian shoppers
LOGO_PATH=assets/logo.png
INPUT_DIR=input
OUTPUT_DIR=output
TRIM_END_SECONDS=3
MUTE_WORDS=meesho
WHISPER_MODEL=small
LOGO_WIDTH=190
MARGIN_RIGHT=30
MARGIN_TOP=30
COVER_WIDTH=330
COVER_HEIGHT=180
COVER_OPACITY=0.92