.env
*.env
ig-keys
*.pyc
__pycache__/
*.log
scheduler/logs/
scheduler/processed/
scheduler/published/
scheduler/failed/
reel-editor/input/
reel-editor/output/
reel-editor/processed/
reel-editor/failed/
reel-editor/logs/
web-ui/__pycache__/
